/* || CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ||  GENERAL STYLES*/

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
     color: hsl(228, 45%, 44%);
}
body {
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    box-sizing: border-box;
}
h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    color: #3E2753;
}
.message p {
    font-size: 16px;
    line-height: 28px;
    color: #A39DA9;
    margin-top: 24px;
}
.avatar {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid white;
    margin-left: 8px;
}
.bg_contact {
    width: 228px;
    height: 66px;
    background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
    box-shadow: 0px 0px 13px rgba(62, 39, 83, 0.251202);
    border-radius: 20px 20px 6px 6px;
}
.top-bg_contact {
    position: absolute;
    width: 129px;
    height: 29px;
    background: #FFFFFF;
    border-radius: 0px 0px 14px 14px;
    top: 0;
    left:50%;
    transform: translateX(-50%);
}
.contact {
    display: flex;
    position: absolute;
    align-items: center;
    margin-top: 30px;
}
.less {
    margin-left: 15px;
}
.dot {
    background-color: white;
    border-radius: 50%;
    width: 2px;
    height: 2px;
    margin-left: 76px;
    margin-bottom: 2px;
}
.contact_group {
    margin-left: 8px;
}
.name {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
}
.state {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;
    color: #D99EFF;
}
.message_1, .message_2, .message_5 {
    width: 128px;
    font-size: 8px;
    line-height: 11px;
    color: #9341C8;
    background: #EEE5F4;
    border-radius: 10px 10px 10px 4px;
    margin-left: 7.5px;
    padding: 6px 8px;
}
.message_1 {
    margin-top: 11px;
    margin-bottom: 8px;
}
.message_2 {
    margin-bottom: 16px;
}
.message_5 {
    margin-top: 16px;
}
.message_3, .message_4 {
    width: 128px;
    font-size: 8px;
    line-height: 11px;
    color: #6E5D7E;
    background: white;
    border-radius: 10px 10px 4px 10px;
    margin-right: 7.5px;
    padding: 6px 8px;
    box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
    margin-left: auto;
    margin-bottom: 8px;
}
.dog {
    width: 40px;
    height: 40px;
    box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
    border-radius: 10px;
}
.dog_pics {
    display: flex;
    justify-content: flex-end;
    margin-right: 7.5px;
    margin-bottom: 8px;
}
.fare {
    height: 32px;
    width: 160px;
    left: 160px;
    background: linear-gradient(225deg, #8739FF 0%, #E844FF 100%);
    box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
    border-radius: 10px 10px 10px 4px;
    margin-top: 8px;
    margin-left: 7.5px;
}
.fare p {
    font-size: 8px;
    line-height: 11px;
    color: #FFFFFF;
    padding-top: 11px;
    
}
.circle {
    width: 12px;
    height: 12px;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 8px;
    margin-top: 10px;
    margin: 8px 8px 0px 8px;
}
.fare_gr {
    display: flex;
    align-content: flex-start;
}
.usd_29 {
    margin-left: 35px;
}
.usd_49 {
    margin-left: 50px;
}
.usd_29, .usd_49 {
    font-weight: bold;
    font-size: 12px;
    line-height: 11px;
}
.chat {
    width: 213px;
    height: 34px;
    background: #FFFFFF;
    border-radius: 17px;
    margin-top: 16px;
    margin-left: 7.5px;
    display: flex;
}
.chat p {
    font-weight: 1;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: -0.0703125px;
    color: #C5C9CC;
    padding-left: 19px;
    padding-top: 13px;
}
.send_btn {
    width: 24px;
    height: 24px;
    background: #3E2753;
    border-radius: 50%;
    position: absolute;
    right: 21.7px;
    bottom: 26px;
}
.send_less {
    position: absolute;
    margin: 7.2px 9.3px 7.2px 8.7px;
}
footer {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
}

/* 	=====================
	   DESKTOP 1440px
    =====================
*/
@media screen and (min-width: 960px) {
.background-1 {
    width: 510px;
    height: 1018px;
    background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
    border-radius: 255px;
    left: -90px;
    top: -45%;
    position: absolute;
    z-index: -1;
}
.background-2 {
    width: 510px;
    height: 1018px;
    background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
    mix-blend-mode: normal;
    opacity: 0.03;
    transform: matrix(1, 0, 0, -1, 0, 0);
    border-radius: 255px;
    left: 1115px;
    top: 119px;
    position: fixed;
    z-index: -1;
}
.container {
    max-width: 817px;
    max-height: 505px;
    margin: auto;
    transform: translate(58px, 148px);
    display: flex;
}
.phone_mock-up {
    width: 247px;
    height: 505px;
    background: white;
    box-shadow: 0px 30px 60px -10px rgba(62, 39, 83, 0.251202);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.phone_screen {
    width: 228px;
    height: 483px;
    background-color: #F5F3F7;
    border-radius: 20px;
}
.message {
    width: 445px;
    height: 183px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

}

/* 	=====================
	    MOBILE 375px
    =====================
*/
@media(max-width:376px) {
.background-1 {
    width: 510px;
    height: 1018px;
    background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
    border-radius: 255px;
    left: -85%;
    top: -54%;
    position: absolute;
    z-index: -1;
}
.background-2 {
    width: 510px;
    height: 1018px;
    background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
    mix-blend-mode: normal;
    opacity: 0.03;
    transform: matrix(1, 0, 0, -1, 0, 0);
    border-radius: 255px;
    left: 50%;
    top: 45%;
    position: fixed;
    z-index: -1;
}
.container {
    max-width: 311px;
    height:auto;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 64px;
    position: absolute;
}
.phone_mock-up {
    width: 247px;
    height: 505px;
    background: white;
    box-shadow: 0px 30px 60px -10px rgba(62, 39, 83, 0.251202);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.phone_screen {
    width: 228px;
    height: 483px;
    background-color: #F5F3F7;
    border-radius: 20px;
}
.message {
    width: 311px;
    height: 183px;
    position: absolute;
    top: 633px;
}
h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    color: #3E2753;
}
.message p {
    font-size: 16px;
    line-height: 28px;
    color: #A39DA9;
    margin-top: 24px;
    text-align: center;
    padding-bottom: 64px;
}


}
